src/main/mule/cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b328c1a4-3b2f-4049-bca7-074eae65b8ed" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicdFlow" doc:id="69f0cd03-9cac-4e88-8e00-2e9976cdaac4" >
		<http:listener doc:name="Listener" doc:id="e3343680-3313-4312-9e3c-e7c4f946be18" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="f9ff67a6-48c4-4cb4-a5ff-674d3671738a" message="#[payload]"/>
		<set-payload value="#[payload ++ now()]" doc:name="Set Payload" doc:id="b85b16b2-5c0d-4ed8-a454-49e7ae7b6ace" />
	</flow>
</mule>
